@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;600&display=swap");
body {
  margin: 0;
  background-color: #f3efe8;
}

/* goto top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b83030cd;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 70px;
}
#myBtn:hover {
  background-color: #555;
}

/* navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  padding-top: 0%;
  padding-bottom: 0%;
  padding: 0;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Laila", sans-serif;
}

.topnav a:hover {
  color: rgba(157, 154, 154, 0.571);
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}
.logo a:hover {
  color: rgba(157, 154, 154, 0.571);
}
.navvv {
  padding-right: 15%;
}

.modal {
  background-color: black;
  background: none;
}

.logo a {
  padding-left: 15%;
  text-decoration: none;
  float: left;
  font-size: 40px;
  font-family: "Laila", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  font-weight: bolder;
}

.card {
  padding: 10px;
  height: 200px;
  background-color: #5d5a5a3b;
  border-radius: 9px;
  -webkit-box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
  -moz-box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
  box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .fas {
  font-size: 3rem;
  color: #3f3a64;
  padding-bottom: 50px;
  opacity: 0.7;
}

.card .fas:hover {
  color: #b83030cd;
  cursor: pointer;
}

.containerr {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contactus {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  background: #5d5a5a3b;
  border-radius: 5px;
  padding: 65px;
  margin: 80px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contactus h3 {
  display: block;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Laila", sans-serif;
}

fieldset {
  border: medium none !important;
  margin: 0 0 18px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  font-size: 15px;
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea {
  width: 100%;
  border: 1.4px solid rgb(138, 40, 40);
  border-radius: 5px;
  background: #fff;
  margin: 0 0 5px;
  padding: 15px;
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1.4px solid #aaa;
}

#contactus textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contactus button[type="submit"] {
  cursor: pointer;
  width: fit-content;
  /* border: none; */
  background: #b83030cd;
  color: #fff;
  border: 3px solid #aaa;
  margin: 0 0 5px;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
}

#contactus button[type="submit"]:hover {
  background: rgba(157, 154, 154, 0.802);
  border-radius: 5px;
  border: 3px solid #b83030cd;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contactus button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactus input:focus,
#contactus textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.containerss {
  padding-top: 100px;
  margin-left: 9%;
  margin-bottom: 0;
}

.containerrr {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* background: transparent; */
}

.trigger {
  background-color: #5d5a5a3b;
  color: rgb(0, 0, 0);
  width: 50%;
}
.trigger:hover {
  background-color: #b83030cd;
  color: white;
}

.modal,
.fade,
.show {
  background-color: lightgray;
  background: transparent;
}

.modal-content {
  /* background: transparent; */
  border: none;
  padding: 0 19px;
}

.modal-header {
  border: none;
}

.close {
  position: absolute !important;
  right: 0;
  z-index: 1;
  border: 7px solid lightgray !important;
  width: 5px;
  height: 5px;
  border-radius: 10rem;
  background-color: #eceff1 !important;
  opacity: 1;
  top: 35px;
  right: 25px;
}

.close > span {
  position: relative;
  right: 10px;
  padding: 0px;
  bottom: 17px;
  font-size: 29px;
}

.modal-body {
  border: none;
  background-color: #eceff1;
  border-radius: 8px;
  padding-bottom: 50px;
}

.modal-footer {
  border: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.close.focus,
.close:focus {
  outline: 0;
  box-shadow: none !important;
}

.mini-container .fas {
  color: #faac03;
  margin-bottom: 20px;
}

.col-4 {
  padding: 0 15px;
  color: grey;
}

.mini-container:hover {
  box-shadow: 0 8px 7px lightgrey;
  color: black;
}

.map iframe {
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

/*accessibility*/

.badge {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.badge a {
  color: #ffffff;
  font-size: 16px;
}

.modal-dialog {
  border: solid 4px #fa5e03;
}
.modal-title {
  font-weight: 900;
}

.modal-content {
  border-radius: 13px;
}

.modal-body {
  color: #3b3b3b;
}

.img-thumbnail {
  border-radius: 33px;
  width: 61px;
  height: 61px;
}

.fab:before {
  position: relative;
  top: 13px;
}

.smd {
  width: 200px;
  font-size: small;
  text-align: center;
}

/*footer  starts */

.footer {
  background: #333;
  text-align: center;
  font-family: "Laila", sans-serif;
  margin-top: 5%;
}

.footer .row {
  width: 90%;
  margin-left: 6%;

  padding-top: 40px;
}

.footer .row .col-md-3 {
  margin: 1rem 0;
}

.footer h2 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.design {
  font-family: "Leckerli One", cursive;
  font-size: 35px;
  margin-left: 20%;
  color: rgb(255, 255, 255);
}

.footer p {
  font-size: 0.5rem;
  color: #ccc;
}

.footer .list p {
  display: flex;
  flex-flow: column;
  color: #ccc;
  font-size: 1rem;
}

.footer .letter p {
  font-size: 2rem;
}

.footer .letter input[type="email"] {
  outline: none;
  border: none;
  background: none;
  padding: 0 1rem;
  color: #fff;
  height: 2.5rem;
  width: 70%;
  border: 0.1rem solid #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.footer .letter input[type="submit"] {
  outline: none;
  border: none;
  background: #fff;
  margin: 1rem 0;
  width: 10rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

.footer .letter input[type="submit"]:hover {
  background: #b83030cd;
  color: #fff;
  cursor: pointer;
}

.footer .credit {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem 0;
  margin: 1rem 0;
  margin-bottom: 0;
  border-top: 0.1rem solid #aaa;
  letter-spacing: 0.2rem;
}

.icons a {
  font-size: 1.4rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

.icons a:hover {
  background: #b83030cd;
}
/* footer ends */

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
